.rainbowOuterContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;

  .rainbowContainer {
    display: flex;
    flex-direction: column;
    width: 250px;

    .bubbleContainer {
      position: relative;

      .bubbleValue {
        width: 65px;
        position: absolute;
        top: 5px;
        text-align: center;
        color: white;

        .bubbleUnits {
          font-size: 10px;
        }
      }
    }
  
    .unitsBar {
      display: flex;
      justify-content: space-between;
    }
  }
}