.cardContainer {
  animation: fadeIn 1s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
  
  .contentContainer {
    display: flex;
    justify-content: space-around;        
  
    .cardsContainer {
      display: flex;
      flex: 2;
      flex-direction: row; 
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .insightsContainer {
      justify-content: center;
      align-items: center;
      display: flex;
      flex: 1;
      background-color: bisque;
    }
  }
}